<div class="todolist">
 <h1>toDoList 2</h1>
 <div class="jumbotron">
  <div class="row">
   <div class="col-sm">
    <div class="form-group">
     <input type="text" class="form-control input" [(ngModel)]="tasktitle" placeholder="New task"/>
    </div>
   </div>
   <div class="col-">
    <button type="button" class="btn btn-secondary" (click)="tasktitle = ''" [disabled]="tasktitle.length == 0">
     <fa-icon [icon]="faEraser"></fa-icon>
    </button>
    <button type="button" class="btn btn-primary" (click)="addTask()" [disabled]="tasktitle.length == 0">
     <fa-icon [icon]="faPlus"></fa-icon>
    </button>
   </div>
  </div>
 </div>

 <ng-template #taskTemplate>
  <div class="row">
   <div class="col-sm">
    <div class="buttons">
     <button type="button" class="btn" 
      [ngClass]="{'btn-success': !allCompleted, 'btn-primary': allCompleted}" 
      (click)="editAllTasks()"
     >
      <fa-icon [icon]="faCheck"></fa-icon>
     </button>
     <button type="button" class="btn btn-secondary" [disabled]="!hidde" (click)="hiddeCompleted()">
      <fa-icon [icon]="faEyeSlash"></fa-icon>
     </button>
     <button type="button" class="btn btn-info" [disabled]="!hidden" (click)="showCompleted()">
      <fa-icon [icon]="faEye"></fa-icon>
     </button>
     <button type="button" class="btn btn-danger" (click)="removeAllTasks()">
      <fa-icon [icon]="faTrash"></fa-icon>
     </button>
    </div>
   </div>
  </div>
  <app-task *ngFor="let task of tasks" 
  [task]="task"
  (deleteEmitter)="removeTask($event)"
  (editEmitter)="editTask($event)"></app-task>
 </ng-template>
</div>
